:root {
  /**
  @font family declaration
  */
  --tp-ff-teko: 'Teko', serif;
  --tp-ff-body: 'Inter', sans-serif;
  --tp-ff-heading: 'Inter', sans-serif;
  --tp-ff-inter: 'Inter', sans-serif;
  --tp-ff-p: 'Inter', sans-serif;
  --tp-ff-besley: 'Besley', serif;
  --tp-ff-mango-thin: 'MangoGrotesqueThin', serif;
  --tp-ff-mango-light: 'MangoGrotesqueLight', serif;
  --tp-ff-mango: 'MangoGrotesque', serif;
  --tp-ff-mango-medium: 'MangoGrotesqueMed', serif;
  --tp-ff-mango-semibold: 'MangoGrotesqueSemBd', serif;
  --tp-ff-mango-bold: 'MangoGrotesque', serif;
  --tp-ff-clash-light: 'ClashDisplay-Light', serif;
  --tp-ff-clash-regular: 'ClashDisplay-Regular', serif;
  --tp-ff-clash-medium: 'ClashDisplay-Medium', serif;
  --tp-ff-clash-semibold: 'ClashDisplay-Semibold', serif;
  --tp-ff-clash-bold: 'ClashDisplay-Bold', serif;
  --tp-ff-grotesk: 'Space Grotesk', serif;
  --tp-ff-platform: 'Platform', serif;
  --tp-ff-playfair: 'Playfair Display', serif;
  --tp-ff-satisfy: 'Satisfy', cursive;
  --tp-ff-dirtyline: 'dirtyline-36daysoftype-2022', serif;
  --tp-ff-phudu: 'Phudu', serif;
  --tp-ff-poppins: 'Poppins', serif;
  --tp-ff-onest: 'Onest', serif;
  --tp-ff-fontawesome: "Font Awesome 6 Pro";
  /**
  @color declaration
  */
  --tp-common-white: #ffffff;
  --tp-common-black: #141414;
  --tp-common-black-2: #232323;
  --tp-common-black-3: #000;
  --tp-common-black-4: #0a0a0a;
  --tp-common-black-5: #121212;
  --tp-common-black-6: #212121;
  --tp-common-black-7: #0E0F11;
  --tp-common-black-8: #1a1b1e;
  --tp-common-black-9: #16302f;
  --tp-common-black-10: #21212D;
  --tp-common-cream: #f9f4e8;
  --tp-common-cream-2: #FFF6BF;
  --tp-common-cream-3: #ffffe6;
  --tp-common-yellow: #ffc446;
  --tp-common-yellow-1: #FFF669;
  --tp-common-yellow-green: #E9FF48;
  --tp-common-green-light: #D0FF71;
  --tp-common-green-regular: #C1ED00;
  --tp-common-green-solid: #17312F;
  --tp-common-pink-light: #FDE1DA;
  --tp-common-paste: #43D4A0;
  --tp-common-paste-2: #0C5752;
  --tp-common-sky: #C5FCFC;
  --tp-common-red: #FF4851;
  --tp-common-red-2: #FF481F;
  --tp-common-red-3: #FF5722;
  --tp-common-blue: #7463FF;
  --tp-common-brown: #453030;
  --tp-grey-1: #f8f8f8;
  --tp-grey-2: #f1f1f1;
  --tp-grey-3: #F8F8FB;
  --tp-grey-4: #F6F8EF;
  --tp-coffe-1: #653624;
  --tp-coffe-2: #552411;
  --tp-cream-1: #B7AB98;
  --tp-cream-2: #CFC292;
  --tp-text-body: #2e2d2d;
  --tp-theme-green: #A0FF27;
  --tp-theme-pink: #EC6FD5;
  --tp-theme-yellow: #FFB701;
  --tp-border-1: #EAEBED;
  --tp-border-2: #e7e7e7;

  /* main color */
  --tp-brand-primary-color: #34679A;      
  --tp-navi-background-color: #14293D;
  --tp-secondary-color: #2AB7CA;
  --tp-secondary-light-color: #49cadb;
  --accent-color: #F6C90E;
  --temp1: #F0A500;
  --section-background: #8DA9C4;



  /* main text color */
  --tp-heading-text-color: #0F0F0F;
  --tp-primary-text-color: #34679A;
  --tp-h2-text-color: #1C1C1C;
  --tp-subtitle-text-color: #3C3C3C;
  --tp-white-text-color: #FFFFFF;
  --tp-sub-white-text-color: #E1E8F0;
}